:root{
  --amplify-primary-color: #232526;
}
.full-container{
  width: 90%;
  margin: 30px auto;
}
.navbar-custom{
  background: #232526;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #414345, #232526) !important;  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #414345, #232526) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.prepayment-item-expansion-content form{
  margin-top: 20px;
}
.prepayment-item-expansion-content form input,
.prepayment-item-expansion-content form select,
.send-prepayment-button{
  font-size: 14px;
}
.send-prepayment-button{
  float: right;
}
.home-container{
  display: flex;
  flex-direction: column;
}
.eui-table>tbody>tr>td, .eui-table>thead>tr>th{
  padding: 10px ;
}
.home-container .stats-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  width: 100%;
  justify-content: center;
}
.home-container .container-timming-buton{
  margin: 0px auto; 
}
.home-container .container-timming-buton button{
  border: 1px solid grey;
  padding: 5px 10px;
}
.home-container .container-timming-buton button.selected{
  background-color: rgb(204, 204, 204);
}
.home-container .container-timming-buton button:hover{
  background-color: rgb(223, 223, 223);
}
.home-container .categories-container{
  display: flex;
  height: 20%;
  justify-content: center;
  flex-flow: row wrap;
  flex-direction: row;
  margin: 10px auto;
}
.modal-category-item{

  margin: 10px 0;
}
.category-item-amount, .category-item-desc, .category-item-date{
  display: inline-block ;
  padding: 1px 10px;
}
.category-item-amount{
  border-radius: 8px;
  font-size: 13px;
  color: rgb(63, 62, 62);
  font-weight: bold;
  background-color: rgb(207, 214, 207);
  float: right;
}
.category-item-date{
  font-size: 14px;
  margin-left: 15px;
  border-radius: 4px;
  position: relative;
  background: rgb(230, 230, 230);
  z-index: 1;
  opacity: 0;
  transition: all .2s;
}

.category-item-desc:hover + .category-item-date{
  opacity: 1;
}
.category-item-date::after{
  content: "";
  position: absolute;
  left: -3px;
  top: 4px;
  z-index: -1;
  width: 14px;
  height: 14px;
  display: block;
  transform: rotate(45deg);
  background: rgb(230, 230, 230);
}

.categories-container .category-item{
  margin: 10px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px; 
  border: 0px; 
  width: 200px;

  background: #232526;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  box-shadow: 0px 0px 10px 2px rgb(192, 192, 192);
}
.eui-dropdown-menu.show{
  right: 0 !important;
}
.categories-container .category-item p{
  margin: 0px;
  font-weight: 300;
  font-size: 14px;
  color: rgb(231, 231, 231);
}
.categories-container .category-item p span{
  color: white;
  margin: 0px;
  font-size: 16px;
  font-weight: 500;
}
.home-container .container-timming-buton button:first-child{  
  border-radius: 5px 0px 0px 5px;
}
.home-container .container-timming-buton button:last-child{  
  border-radius: 0px 5px 5px 0px;
}
.table-container-emerald{
  margin: 10px;
}
.table-container-emerald{
  max-width: 600px;
}
.full-screen-secret-container{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    rgb(29, 29, 29) 0%,
    rgb(29, 29, 29) 100%
  );
}

.login-container{
  height: 150px;
  width: 500px;
  border-radius: 20px;
  background: white;
  box-shadow: 0px 0px 10px rgb(42, 42, 42);
}
.secret-key-input-container{
  display: flex;
  width: 100%;
  padding: 20px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.sign-in-button{
  margin-top: 20px;
  margin-left: 20px;
}
#passwordmeter{
  margin-top: 60px;
  margin-left: -250px;
}
#passwordmeter::before{
  left: 10px;
  top: -5px;
  transform: rotate(135deg)
}

.bank-filters-information p{
  margin-left: 15px;
}
.profile-container {
  display: flex;
  justify-content: center;
}
.profile-container > div{
  /* display: flex; */

  width: 70%;
}
.user-emails p,
.user-phones p{
  margin-left: 10px;
}
.user-categories .eui-label{
  margin-right: 5px;
  margin-top: 5px; 
  display: inline-block;
}
.add-new-category{
  cursor: pointer;
}
.eui-text-field + .eui-text-field{
  margin-top: 10px !important;
}
.brand-logo-img{
  height: 30px;
}

@media screen and (max-width: 720px) {
  .home-container .stats-container{
    display: none; 
  }
}