.full-container{
  width: 90%;
  margin: 30px auto;
}

.prepayment-item-expansion-content form{
  margin-top: 20px;
}
.prepayment-item-expansion-content form input,
.prepayment-item-expansion-content form select,
.send-prepayment-button{
  font-size: 14px;
}
.send-prepayment-button{
  float: right;
}
.home-container{
  display: flex;
  flex-direction: column;
}
.eui-table>tbody>tr>td, .eui-table>thead>tr>th{
  padding: 10px ;
}
.home-container .stats-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  width: 100%;
  justify-content: center;
}
.home-container .container-timming-buton button{
  border: 1px solid grey;
  padding: 5px 10px;
}
.home-container .container-timming-buton button.selected{
  background-color: rgb(204, 204, 204);
}
.home-container .container-timming-buton button:hover{
  background-color: rgb(204, 204, 204);
}
.home-container .categories-container{
  display: flex;
  height: 20%;
  justify-content: center;
  flex-flow: row wrap;
  flex-direction: row;
  margin: 10px auto;
}
.categories-container .category-item{
  margin: 10px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background-color:  rgb(136, 167, 255);
  width: 200px;
}
.eui-dropdown-menu.show{
  right: 0 !important;
}
.categories-container .category-item p{
  margin: 0px;
  font-weight: 200;
  color: white;
}
.categories-container .category-item p span{
  margin: 0px;
  font-weight: 600;
}
.home-container .container-timming-buton button:first-child{  
  border-radius: 5px 0px 0px 5px;
}
.home-container .container-timming-buton button:last-child{  
  border-radius: 0px 5px 5px 0px;
}
.table-container-emerald{
  margin: 10px;
}
.table-container-emerald{
  max-width: 600px;
}
.full-screen-secret-container{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    rgb(29, 29, 29) 0%,
    rgb(29, 29, 29) 100%
  );
}

.login-container{
  height: 150px;
  width: 500px;
  border-radius: 20px;
  background: white;
  box-shadow: 0px 0px 10px rgb(42, 42, 42);
}
.secret-key-input-container{
  display: flex;
  width: 100%;
  padding: 20px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.sign-in-button{
  margin-top: 20px;
  margin-left: 20px;
}
#passwordmeter{
  margin-top: 60px;
  margin-left: -250px;
}
#passwordmeter::before{
  left: 10px;
  top: -5px;
  transform: rotate(135deg)
}

.bank-filters-information p{
  margin-left: 15px;
}
.profile-container {
  display: flex;
  justify-content: center;
}
.profile-container > div{
  /* display: flex; */

  width: 70%;
}
.user-emails p,
.user-phones p{
  margin-left: 10px;
}
.user-categories .eui-label{
  margin-right: 5px;
  margin-top: 5px; 
  display: inline-block;
}
.add-new-category{
  cursor: pointer;
}
.eui-text-field + .eui-text-field{
  margin-top: 10px !important;
}
.brand-logo-img{
  height: 30px;
}